 .login-body {
   background-image: url("../img/warehouse.png");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }

 .bg-body, .receiving-body   {
   background-color: #c6ddc8 !important;
 }

 .wmsapp {
   text-align: center;
   -webkit-user-select: none;
   user-select: none;
   cursor: default;
 }

 .bg-dark {
   background-color: #044904 !important;
 }

 .my-link-white {
   color: white !important;
 }
